@charset "utf-8";

/* ==================================================
	이미지 확대축소 버그 수정
================================================== */


.transform-component-module_wrapper__SPB86{
	margin: 0 auto;
}

p {
    margin-top: unset !important;
    margin-bottom: unset !important;
}

/* ==================================================
.react-transform-component {
    width: unset !important;
    height: unset !important;
}
================================================== */